<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% if @cart %>
  <%= render 'cart_items', cart: @cart %>
<% end %>

<p>Order total: <strong><%= number_to_currency(@cart.total.to_f/100) %></strong> </p>

<%= checkout_button(@cart) %>
